@use "../general/colors" as clrs;

.footer{
    margin: 10rem auto 3.2rem;
    max-width: 450px;

    &__content{
        text-align: center;
        background-color: clrs.color(title);
        color: clrs.color(main-bg);
        padding: 4.9rem 2.4rem;

        &-info{
            & > *{
                margin-bottom: 2.4rem;
            }

            &__title{
                font-family: "Plus Jakarta Sans";
                font-size: 2.6rem;
                line-height: 3.3rem;
                font-weight: 700;
            }

            &__para{
                font-family: "Plus Jakarta Sans";
                font-size: 1.6rem;
                line-height: 2.6rem;
                font-weight: 500;
            }

            
        }

        &-btn{
            background-color: clrs.color(secondary-btn);
            
        }
    }

    &__nav{
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-logo{
            &__img{
                width: 64px;
            }
            
        }

        &-btn{
            background-color: clrs.color(primary-btn);
        }
    }
}