@use "../general/colors" as clrs;

.work{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;

    &__title{
        text-align: center;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3rem;
        color: clrs.color(title)
    }

    &__image{
        display: flex;
        justify-content: center;
        margin-top: 3.2rem;
        width: 1410px;
        //height: 180px;
        gap: 1.5rem;
        

        &-slide{
            width: 270px;
            height: 180px;
            border-radius: 1.5rem;
            overflow: hidden;
       
        }
    }

    &__btn{
        display: flex;
        gap: 1.6rem;
        margin-top: 5.8rem;

        

        
        
        
        &-slider{
            width: 64px;
            height: 64px;
            background-color: clrs.color(primary-btn);
            padding: 2.2rem 2.4rem;
            border-radius: 50%;
            border: none;
            cursor: pointer;

            &:hover{
                background-color: clrs.color(primary-btn-hover);
            }

            &:disabled{
                background-color: grey;
                cursor:not-allowed;
            }

            &[disabled]:hover{
                background-color: grey;
            }



            
        }

    }
}